/* Flip image Utility Class */
.flip {
  transform: scaleX(-1);
}

.hero-outer-wrapper,
.hero-inner-wrapper,
.hero-text-form-wrapper,
.hero-text-form-wrapper form,
.hero-image-wrapper,
.alert-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.hero-outer-wrapper {
  width: var(--full-width);
  height: 550px;
  /* outline: 2px solid red; */
}

.hero-inner-wrapper {
  position: relative;
  width: var(--desktop-width);
  height: 100%;
  /* outline: 2px solid blue; */
}

.hero-text-form-wrapper,
.hero-image-wrapper {
  flex-direction: column;
  width: 50%;
  height: 100%;
  /* outline: 2px solid green; */
}

.hero-text-form-wrapper h1 {
  width: 75%;
  margin: 50px 0 30px 3px;
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 78px;
  text-align: left;
  /* outline: 2px solid green; */
}

.hero-text,
.alert-text {
  font-size: 13px;
  font-weight: 600;
  line-height: 22px;
  font-family: var(--body-font);
  color: var(--text-secondary);
}

.hero-text {
  width: 78%;
  margin: 0 0 40px 0;

  /* outline: 2px solid green; */
}

.hero-text-form-wrapper form {
  justify-content: space-between;
  align-items: center;
  width: 360px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  outline: 2px solid #f3f3f6;
  background-color: #f8fafc;
}

.hero-text-form-wrapper input {
  margin-left: 10px;
  font-size: 13px;
  border: none;
  font-weight: 500;
  background-color: #f8fafc;
  color: var(--text-secondary);
  font-family: var(--body-font);
}

.hero-text-form-wrapper input:focus {
  outline: none;
}

.alert-wrapper {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  /* outline: 2px solid green; */
}

.alert {
  width: 16px;
  height: 16px;
  opacity: 0.65;
  /* Color the exclamation point dark green */
  /* background-color: rgb(2, 103, 1);
  border-radius: 30px; */
}

.alert-text {
  margin: 0 0 0 10px;
  font-size: 11px;
}

.hero-image-wrapper {
  position: relative;
}

.hero-image-wrapper img {
  width: 470px;
}

/*^ Animation classes */

/*^ Height property distorts the image, use width only */

/* Adjust z-index for images that will hover over main yoga image */

.green-planet,
.small-brown,
.small-brown-2,
.small-brown-3,
.small-green,
.small-green-2,
.med-brown {
  position: absolute;
  z-index: 1;
}

.green-planet {
  bottom: 75%;
  left: -5%;
}

.small-brown img {
  width: 25px;
}

.small-brown {
  bottom: 55%;
  left: 38.5%;
}

.small-brown-2 img {
  width: 13px;
}

.small-brown-2 {
  /* z-index: 1; */
  bottom: 80%;
  left: 64%;
}

.small-brown-3 img {
  width: 14px;
}

.small-brown-3 {
  /* z-index: 1; */
  bottom: 15%;
  left: 2%;
}

/* shrink small green blob */
.small-green img {
  width: 20px;
}

.small-green {
  bottom: 53%;
  left: 41%;
}

.small-green-2 img {
  width: 24px;
}

.small-green-2 {
  /* z-index: 1; */
  bottom: 65%;
  right: 2%;
}

.med-brown img {
  width: 45px;
  height: 45px;
  transform: rotate(70deg);
}

.med-brown {
  bottom: 9%;
  right: -2%;
}

/** Tablet View 1150px */
/** Tablet View 1150px */
/** Tablet View 1150px */

@media (max-width: 1150px) {
  .hero-inner-wrapper {
    width: 90%;
    /* outline: 2px solid blue; */
  }

  .hero-text-form-wrapper h1 {
    width: 75%;
    margin: 50px 0 30px 3px;
    font-weight: 900;
    font-size: 68px;
    /* outline: 2px solid green; */
  }
} /* End Tablet View 1150px */

/** Tablet View 1000px */
/** Tablet View 1000px */
/** Tablet View 1000px */

@media (max-width: 1000px) {
  .hero-outer-wrapper {
    height: 650px;
    /* outline: 2px solid red; */
  }

  .hero-inner-wrapper {
    align-items: center;
    width: 90%;
    height: 100%;
    /* outline: 2px solid blue; */
  }

  .hero-text-form-wrapper,
  .hero-image-wrapper {
    width: 50%;
    height: 100%;
    /* outline: 2px solid green; */
  }
  .hero-text-form-wrapper h1 {
    width: 320px;
    margin: 50px 0 30px 3px;
    font-weight: 900;
    font-size: 65px;
    /* outline: 2px solid green; */
  }

  .hero-image-wrapper img {
    width: 100%;
  }

  .green-planet {
    bottom: 75%;
    left: -5%;
  }

  .small-brown img {
    width: 22px;
  }

  .small-brown {
    bottom: 55%;
    left: 37%;
  }

  .small-brown-2 img {
    width: 13px;
  }

  .small-brown-2 {
    /* z-index: 1; */
    bottom: 80%;
    left: 64%;
  }

  .small-brown-3 img {
    width: 14px;
  }

  .small-brown-3 {
    /* z-index: 1; */
    bottom: 15%;
    left: 2%;
  }

  /* shrink small green blob */
  .small-green img {
    width: 16px;
  }

  .small-green {
    bottom: 53%;
    left: 41%;
  }

  .small-green-2 img {
    width: 24px;
  }

  .small-green-2 {
    /* z-index: 1; */
    bottom: 65%;
    right: 2%;
  }

  .med-brown img {
    width: 45px;
    height: 45px;
    transform: rotate(70deg);
  }

  .med-brown {
    bottom: 9%;
    right: -2%;
  }
} /* End Tablet View 1000px */

/** Tablet View 875px */
/** Tablet View 875px */
/** Tablet View 875px */

@media (max-width: 875px) {
  .hero-outer-wrapper {
    height: 1060px;
    /* outline: 2px solid red; */
  }

  .hero-inner-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* outline: 2px solid blue; */
  }

  .hero-text-form-wrapper,
  .hero-image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    /* outline: 2px solid green; */
  }
  .hero-text-form-wrapper h1 {
    width: 380px;
    font-size: 78px;
    /* outline: 2px solid green; */
    text-align: center;
  }

  .hero-text {
    width: 365px;
    margin: 0 0 40px 0;
    text-align: center;
    /* outline: 2px solid green; */
  }

  .alert-wrapper {
    justify-content: center;
    margin-top: 10px;
    /* outline: 2px solid green; */
  }

  .hero-image-wrapper img {
    width: 430px;
  }

  .green-planet {
    top: 6%;
    left: 24%;
  }

  .small-brown img {
    width: 22px;
  }

  .small-brown {
    bottom: 58%;
    left: 78%;
  }

  .small-brown-2 img {
    width: 13px;
  }

  .small-brown-2 {
    /* z-index: 1; */
    bottom: 80%;
    left: 64%;
  }

  .small-brown-3 img {
    width: 14px;
  }

  .small-brown-3 {
    /* z-index: 1; */
    bottom: 15%;
    left: 19%;
  }

  /* shrink small green blob */
  .small-green img {
    width: 16px;
  }

  .small-green {
    bottom: 56%;
    left: 82%;
  }

  .small-green-2 img {
    width: 24px;
  }

  .small-green-2 {
    /* z-index: 1; */
    bottom: 65%;
    right: 21%;
  }

  .med-brown img {
    width: 45px;
    height: 45px;
    transform: rotate(70deg);
  }

  .med-brown {
    bottom: 9%;
    right: 12%;
  }
} /* End Tablet View 875px */

/** Tablet View 800px */
/** Tablet View 800px */
/** Tablet View 800px */

@media (max-width: 800px) {
  .green-planet {
    top: 6%;
    left: 23%;
  }

  .small-brown img {
    width: 22px;
  }

  .small-brown {
    bottom: 58%;
    left: 78%;
  }

  .small-brown-2 img {
    width: 13px;
  }

  .small-brown-2 {
    /* z-index: 1; */
    bottom: 80%;
    left: 64%;
  }

  .small-brown-3 img {
    width: 14px;
  }

  .small-brown-3 {
    /* z-index: 1; */
    bottom: 15%;
    left: 19%;
  }

  /* shrink small green blob */
  .small-green img {
    width: 16px;
  }

  .small-green {
    bottom: 56%;
    left: 82%;
  }

  .small-green-2 img {
    width: 24px;
  }

  .small-green-2 {
    /* z-index: 1; */
    bottom: 65%;
    right: 16%;
  }

  .med-brown img {
    width: 45px;
    height: 45px;
    transform: rotate(70deg);
  }

  .med-brown {
    bottom: 9%;
    right: 12%;
  }
} /* End Mobile View 800px */

/** Mobile View 750px */
/** Mobile View 750px */
/** Mobile View 750px */

@media (max-width: 750px) {
  .green-planet {
    top: 6%;
    left: 17%;
  }

  .small-brown-3 {
    /* z-index: 1; */
    bottom: 15%;
    left: 12%;
  }

  .med-brown {
    bottom: 9%;
    right: 10%;
  }
} /* End Mobile View 750px */

/** Mobile View 600px */
/** Mobile View 600px */
/** Mobile View 600px */

@media (max-width: 600px) {
  .green-planet {
    top: 6%;
    left: 10%;
  }

  .small-brown img {
    width: 22px;
  }

  .small-brown {
    bottom: 58%;
    left: 78%;
  }

  .small-brown-2 img {
    width: 13px;
  }

  .small-brown-2 {
    /* z-index: 1; */
    bottom: 80%;
    left: 64%;
  }

  .small-brown-3 img {
    width: 14px;
  }

  .small-brown-3 {
    /* z-index: 1; */
    bottom: 15%;
    left: 2%;
  }

  /* shrink small green blob */
  .small-green img {
    width: 16px;
  }

  .small-green {
    bottom: 56%;
    left: 82%;
  }

  .small-green-2 img {
    width: 24px;
  }

  .small-green-2 {
    /* z-index: 1; */
    bottom: 65%;
    right: 9%;
  }

  .med-brown img {
    width: 45px;
    height: 45px;
    transform: rotate(70deg);
  }

  .med-brown {
    bottom: 9%;
    right: 0%;
  }
} /* End Mobile View 600px */

/** Mobile View 500px */
/** Mobile View 500px */
/** Mobile View 500px */

@media (max-width: 500px) {
  .hero-image-wrapper img {
    width: 100%;
  }
  .green-planet {
    top: 6%;
    left: 4%;
  }

  .small-green {
    bottom: 58%;
    left: 84%;
  }

  .small-green-2 img {
    width: 25px;
  }

  .small-green-2 {
    bottom: 50%;
    right: 4%;
  }

  .small-brown img {
    width: 20px;
  }

  .small-brown-2 img {
    width: 20px;
  }

  .small-brown-3 img {
    width: 16px;
  }

  .small-brown-3 {
    /* z-index: 1; */
    bottom: 15%;
    left: -2%;
  }

  .med-brown {
    bottom: 5%;
    right: -8%;
  }
} /* End Mobile View 500px */
