/* Flip image Utility Classs */
.flip {
  transform: scaleX(-1);
}

.hero-outer-wrapper,
.hero-inner-wrapper,
.hero-text-form-wrapper form,
.hero-image-wrapper,
.alert-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.hero-outer-wrapper {
  width: var(--full-width);
  height: 550px;
  /* outline: 2px solid red; */
}

.hero-inner-wrapper {
  position: relative;
  width: var(--desktop-width);
  height: 100%;
  /* outline: 2px solid blue; */
}

.hero-text-form-wrapper,
.hero-image-wrapper {
  width: 50%;
  height: 100%;
  /* outline: 2px solid green; */
}

.hero-text-form-wrapper h1 {
  width: 75%;
  margin: 50px 0 30px 3px;
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 78px;
  text-align: left;
  /* outline: 2px solid green; */
}

.hero-text,
.alert-text {
  font-size: 13px;
  font-weight: 600;
  line-height: 19px;
  font-family: var(--body-font);
  color: var(--text-secondary);
}

.hero-text {
  width: 65%;
  margin: 0 0 40px 0;
  /* outline: 2px solid green; */
}

.hero-text-form-wrapper form {
  justify-content: space-between;
  align-items: center;
  width: 360px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  outline: 2px solid #f3f3f6;
  background-color: #f8fafc;
}

.hero-text-form-wrapper input {
  margin-left: 10px;
  font-size: 13px;
  border: none;
  font-weight: 500;
  background-color: #f8fafc;
  color: var(--text-secondary);
  font-family: var(--body-font);
}

.hero-text-form-wrapper input:focus {
  outline: none;
}

.alert-wrapper {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  /* outline: 2px solid green; */
}

.alert {
  width: 16px;
  height: 16px;
  opacity: 0.65;
  /* Color the exclamation point dark green */
  /* background-color: rgb(2, 103, 1);
  border-radius: 30px; */
}

.alert-text {
  margin: 0 0 0 10px;
  font-size: 11px;
}

.hero-image-wrapper img {
  width: 470px;
}

/* Animation classes */

/* Adjust z-index for images that will hover over main yoga image */

/* Height property distorts the image, use width only */

.green-planet,
.small-brown,
.small-brown-2,
.small-green,
.small-green-2,
.med-brown {
  position: absolute;
  z-index: -1;
}

.green-planet {
  bottom: 75%;
  left: -6%;
}

.small-brown img {
  width: 33px;
}

.small-brown {
  bottom: 55%;
  left: 37%;
}
.small-brown-2 img {
  width: 22px;
}

.small-brown-2 {
  z-index: 1;
  bottom: 85%;
  left: 58%;
}

/* shrink small green blob */
.small-green img {
  width: 20px;
}

.small-green {
  bottom: 53%;
  left: 41%;
}

.small-green-2 img {
  width: 32px;
}

.small-green-2 {
  z-index: 1;
  bottom: 55%;
  right: 0.4%;
}

.med-brown img {
  width: 45px;
  height: 45px;
  transform: rotate(70deg);
}

.med-brown {
  bottom: 9%;
  right: -2%;
}
