.nav-outer-wrapper,
.nav-inner-wrapper,
.nav-logo-wrapper,
.nav-links-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-outer-wrapper {
  justify-content: center;
  width: var(--full-width);
  height: 100px;
  background-color: var(--bg-primary);
  /* outline: 2px solid red; */
}

.nav-inner-wrapper {
  justify-content: space-between;
  width: 1200px;
  height: 100%;
  /* outline: 2px solid blue; */
}

.nav-logo-wrapper {
  padding-right: 20px;
  /* outline: 2px solid red; */
}

.nav-logo-wrapper img {
  width: 50px;
  height: 50px;
}

.top-text,
.bottom-text {
  margin: 0;
  font-family: var(--body-font);
}

.top-text {
  color: var(--text-primary);
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: -2px;
}

.bottom-text {
  color: var(--text-secondary);
  font-weight: 600;
}

.nav-links-button-wrapper {
  justify-content: space-between;
  width: 450px;
  padding-left: 20px;
  /* outline: 2px solid red; */
}

.nav-links-button-wrapper a {
  font-size: 13.8px;
  font-weight: 600;
  text-decoration: none;
  font-family: var(--body-font);
  color: var(--text-secondary);
  transition: color 0.2s ease-in-out;
}

.nav-links-button-wrapper a:hover {
  color: var(--text-primary);
  transition: color 0.2s ease-in-out;
}

/** Tablet View 1225px */
/** Tablet View 1225px */
/** Tablet View 1225px */

@media (max-width: 1225px) {
  .nav-outer-wrapper,
  .nav-inner-wrapper {
    justify-content: center;
    align-items: center;
  }

  .nav-inner-wrapper {
    width: 100%;
    justify-content: space-around;
    /* outline: 2px solid blue; */
  }
} /* End Tablet View 1225px */

/** Tablet View 875px */

@media (max-width: 875px) {
  .nav-outer-wrapper {
    height: 130px;
  }

  .nav-outer-wrapper,
  .nav-inner-wrapper {
    justify-content: center;
    align-items: center;
  }

  .nav-inner-wrapper {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* outline: 2px solid blue; */
  }

  .nav-inner-wrapper {
    width: 100%;
    justify-content: space-around;
    /* outline: 2px solid blue; */
  }

  .nav-logo-wrapper img {
    width: 70px;
    height: 70px;
  }

  .top-text,
  .bottom-text {
    font-size: 20px;
  }

  .nav-links-button-wrapper {
    justify-content: space-around;
    width: 99%;
    padding: 0;
    /* outline: 2px solid red; */
  }

  .nav-links-button-wrapper a {
    font-size: 13.5px;
    font-weight: 600;
  }
} /* End Tablet View 875px */

/** Mobile View 650px */
/** Mobile View 650px */
/** Mobile View 650px */

@media (max-width: 650px) {
} /* End Tablet View 650px */
